[Unit]
Description="Togo Virtual CAN over UDP Bridge"
PartOf=togo-robot.target
After=network-online.target

[Service]
Restart=on-failure
User=root
Type=forking
ExecStart=/bin/bash -e /etc/togo/togo-vcan-start

[Install]
WantedBy=togo-robot.target
