<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="a300-00058">

  <!-- Common -->
  <xacro:include filename="$(find clearpath_platform_description)/urdf/common.urdf.xacro"/>

  <!-- Platform -->
  <xacro:include filename="$(find clearpath_platform_description)/urdf/a300/a300.urdf.xacro"/>
  <xacro:a300 control="diff_4wd" front_wheels="outdoor" rear_wheels="outdoor"/>


  <!-- Attachments -->

  <xacro:include filename="$(find clearpath_platform_description)/urdf/a300/attachments/bumper.urdf.xacro"/>
  <xacro:bumper name="front_bumper" model="default" parent_link="front_bumper_mount" extension="0.0">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:bumper>

  <xacro:include filename="$(find clearpath_platform_description)/urdf/a300/attachments/bumper.urdf.xacro"/>
  <xacro:bumper name="rear_bumper" model="default" parent_link="rear_bumper_mount" extension="0.0">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:bumper>

  <xacro:include filename="$(find clearpath_platform_description)/urdf/a300/attachments/top_plate.urdf.xacro"/>
  <xacro:top_plate name="top_plate" model="default" parent_link="default_mount">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:top_plate>

  <xacro:include filename="$(find clearpath_platform_description)/urdf/a300/attachments/amp_enclosure.urdf.xacro"/>
  <xacro:amp_enclosure name="amp_enclosure" model="amp_enclosure" parent_link="base_link">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:amp_enclosure>

  <xacro:include filename="$(find clearpath_platform_description)/urdf/a300/attachments/amp_sensor_arch.urdf.xacro"/>
  <xacro:amp_sensor_arch name="amp_sensor_arch" model="amp_sensor_arch" parent_link="default_mount">
    <origin xyz="-0.41 0.0 0.175" rpy="0.0 0.0 0.0"/>
  </xacro:amp_sensor_arch>


  <!-- Links -->


  <!-- Mounts -->


  <!-- Sensors -->

  <!-- lidar3d_0 -->
  <xacro:include filename="$(find clearpath_sensors_description)/urdf/seyond_lidar.urdf.xacro"/>
  <xacro:seyond_lidar name="lidar3d_0" parent_link="default_mount" ang_res_h="0.01" ang_res_v="0.01" min_ang_h="-1.0471975511965976" max_ang_h="1.0471975511965976" min_ang_v="-0.6108652381980153" max_ang_v="0.6108652381980153" min_range="0.1" max_range="150.0" update_rate="20">
    <origin xyz="0.4 0.0 0.067" rpy="0.0 0.0 0.0"/>
  </xacro:seyond_lidar>

  <!-- imu_0 -->
  <xacro:include filename="$(find clearpath_sensors_description)/urdf/phidgets_spatial.urdf.xacro"/>
  <xacro:phidgets_spatial name="imu_0" parent_link="base_link">
    <origin xyz="0.059 0.0 0.161275" rpy="0.0 0.0 0.0"/>
  </xacro:phidgets_spatial>

  <!-- ins_0 -->
  <xacro:include filename="$(find clearpath_sensors_description)/urdf/fixposition.urdf.xacro"/>
  <xacro:fixposition name="ins_0" parent_link="default_mount" num_antennas="2" gps_0_type="spherical" gps_0_xyz_x="-0.03" gps_0_xyz_y="-0.235" gps_0_xyz_z="0.545" gps_0_rpy_r="0.0" gps_0_rpy_p="0.0" gps_0_rpy_y="0.0" gps_0_parent="ins_0_sensor" gps_1_type="spherical" gps_1_xyz_x="-0.03" gps_1_xyz_y="0.235" gps_1_xyz_z="0.545" gps_1_rpy_r="0.0" gps_1_rpy_p="0.0" gps_1_rpy_y="0.0" gps_1_parent="ins_0_sensor">
    <origin xyz="-0.4 0.0 0.07" rpy="3.14159 3.14159 0.0"/>
  </xacro:fixposition>


  <!-- Manipulators -->


  <!-- Extras -->


</robot>
