<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="togo_gz_sensors">
    <gazebo>
      <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
        <!-- this plugin allows all of the Gazebo <sensor> tags in the URDF to be processed! -->
      </plugin>
      <plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu">
        <!-- plugin for Phidgets IMU -->
      </plugin>
      <plugin filename="gz-sim-navsat-system" name="gz::sim::systems::NavSat">
        <!-- plugin for FixPosition GPS -->
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>
